<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MamiManda.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MamiManda.My.MySettings.Conexion" connectionString="Data Source=.;Initial Catalog=BakerySystem;User ID=Fernando;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="MamiManda.My.MySettings.BakerySystemConnectionString"
            connectionString="Data Source=.;Initial Catalog=BakerySystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MamiManda.My.MySettings>
            <setting name="ConexionTemporal" serializeAs="String">
                <value />
            </setting>
        </MamiManda.My.MySettings>
    </userSettings>
</configuration>